.float-parent-element { 
    width: 50%; 
} 
.float-child-element { 
    float: left; 
    width: 50%; 
} 
.time { 
    background-color: red; 
    margin-left: 50%; 
    height: 100px; 
} 
.amount { 
    margin-left: 50%; 
    height: 100px; 
    background-color: yellow; 
}
.div {
    color: blue;
}